/*----------------- 
Backend related CSS
-----------------*/
#CGPT_gallery_wrapper .image_container {
    border-radius: 3px;
    cursor: pointer;
}
#CGPT_gallery_wrapper .image_container img {
    height: 150px;
    width: 150px;
    border-radius: 3px;
    object-fit: cover;
}

#CGPT_gallery_wrapper {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}
#CGPT_gallery_wrapper  input[type=text] {
    width:300px;
}
#CGPT_gallery_wrapper .gallery_single_row {
    display:inline-block;
    position: relative;
    margin-right: 8px;
    margin-bottom: 20px;
}
#CGPT_gallery_wrapper #add_gallery_single_row { display: inline;}
#CGPT_gallery_wrapper label {
    padding:0 6px;
}
#CGPT_gallery_wrapper .gallery_single_row .button.cgpt-remove {
    background: rgba(0,0,0,0.4);
    color: #ffffff;
    position: absolute;
    border: none;
    top: 0;
    right: 0;
    font-size: 1.7em;
    padding: 5px;
    box-shadow: none;
    line-height: 0;
    border-radius: 3px 0 0 3px;
    transition: color .3s ease-in-out;
}
#CGPT_gallery_wrapper .gallery_single_row .button.cgpt-remove:hover {
    color: #dc0c0c;
}
#CGPT_gallery_wrapper .button.cgpt-add-image {
    background: #c3c2c2;
    color: #ffffff;
    border: none;
    box-shadow: none;
    width: 150px;
    height: 150px;
    line-height: 100px;
    font-size: 4em;
}
#CGPT_gallery_wrapper .button.cgpt-add-image:hover, .button.cgpt-add-image:focus {
    background: #e2e2e2;
    box-shadow: none;
    color: #0f88c1;
    border: none;
}